<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/common.css">
  </head>
  <body id="login">
    <svg viewBox="0 0 781 781" xmlns="http://www.w3.org/2000/svg" class="extranet-logo"><defs></defs><g><g><polygon class="extranet-logo-fill" points="388 284 562 0 1 0 0 781 63 780 305 396 128 113 290 113"/></g></g><g><g><polygon class="extranet-logo-fill" points="720 0 472 396 653 676 495 676 394 496 226 780 781 780 781 0"/></g></g></svg>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
