<div id="loading">
  <h1>Signing you out...</h1>
  <p class="text-center">
    <span class="spinner spinner-big"></span>
  </p>
</div>

<div id="complete" style="display: none;">
  <h1>You were signed out</h1>
  <p class="text-center">It is now safe to close your tabs.</p>
</div>

{{{form}}}
<div id="frame-container" class="offscreen"></div>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function(){
  function finish() {
    document.getElementById('loading').style.display = 'none';
    document.getElementById('complete').style.display = 'block';
    setTimeout(function(){
      window.location = "{{{redirect_uri}}}";
    }, 5000);
  }

  function frontchannelLogout(frames_markup, timeout) {
    var loaded = 0;
    function frameOnLoad() {
      loaded += 1;
      if (loaded === frames_markup.length) finish();
    }

    var container = document.getElementById('frame-container');
    container.insertAdjacentHTML('beforeend', frames_markup.join(''));

    var frames = container.getElementsByTagName('iframe');
    for (var i = 0; i < frames.length; i++) {
      frames[i].onload = frameOnLoad;
    }

    setTimeout(finish, timeout);
  }

  var data = new URLSearchParams();

  var form = document.getElementById('op.logoutForm');
  var inputs = form.getElementsByTagName('input');
  for (var i = 0; i < inputs.length; i++) {
    data.append(inputs[i].name, inputs[i].value);
  }
  data.append('logout', 'yes');

  fetch(form.action, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded'
    },
    body: data,
    credentials: 'same-origin',
    redirect: 'manual'
  })
  .then(function(response){
    if (response.type == 'opaqueredirect') {
      finish();
      return;
    }
    return response.json();
  })
  .then(function(json){
    if (json.action == "frontchannelLogout")
      frontchannelLogout(json.data.frames, json.data.timeout);
    else
      finish();
  })
});
</script>
